@font-face {
    font-family: Graphik;
    font-weight: regular;
    src: url("/file=fonts/GraphikRegular.otf") format("opentype");
}

@font-face {
    font-family: GraphikBold;
    font-weight: bold;
    src: url("/file=fonts/GraphikBold.otf") format("opentype");
}

html {
    font-family: "Graphik";
}

.text-gray-500 {
    font-family: "Graphik";
}

p {
    font-family: "Graphik";
}

.leading-snug, summary, .gr-button, .gr-sample-dropdown, .p-2, .flex-col{
    font-family: "Graphik";
}

.gradio-container-4-20-0 button, .gradio-container-4-20-0 input, .gradio-container-4-20-0 optgroup, .gradio-container-4-20-0 select, .gradio-container-4-20-0 textarea {
    font-family: Graphik !important;
    font-weight: 400 !important;

}

.component-2 .component-4 .component-6 .component-8 .component-9 {
    font-family: Graphik !important;
    font-weight: 400 !important;
}

h1 {

}

#12 {
    -                       background-image: linear-gradient(to left, #61D836, #6CB346) !important;
    background-color: #61D836 !important;
}

#12:hover {
    -                       background-image: linear-gradient(to left, #61D836, #6CB346) !important;
    background-color: #6CB346 !important;
    border: 0 !important;
    border-color: 0 !important;
}

.dark .gr-button-primary {
    --tw-gradient-from: #61D836;
    --tw-gradient-to: #6CB346;
    border: 0 !important;
    border-color: 0 !important;
}

.dark .gr-button-primary:hover {
    --tw-gradient-from: #64A642;
    --tw-gradient-to: #58933B;
    border: 0 !important;
    border-color: 0 !important;
}

.gr-prose li {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.gr-prose ol ol, .gr-prose ol ul, .gr-prose ul ol, .gr-prose ul ul {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.gr-prose h1 {
    font-size: 1.75em !important;
    text-align: left !important;
}

.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

footer {
    opacity: 0 !important;
    alpha: 0 !important;
}

#component-15 {
    width: 50% !important;
}